body { 
    margin: 0;
    padding: 0;
    background: #DADADA;
    color: #333333;
    font-family: 'Open Sans', sans-serif;
}

#wrapper {
    padding: 20px 0;
}
header, footer {
    padding: 0 20px;
}
header a, footer a {
    color: #647CA6;
    text-decoration: none;
    border-bottom: 1px dotted #647CA6;
    font-weight: bold;
}
header a:hover, footer a:hover {
    border-bottom: 1px solid #647CA6; 
}
header .subtitle {
    font-style: italic;
    float:left;
    clear:left;
}
header .menu {
	float:right;
	clear:right;
}
.subtext {
	font-size:0.8em;
	font-style: italic;
	padding-top:5px;
	margin-top:-15px;
}
#content {
    background: #f0f0f0;
    color: #333;
    margin: 20px 0 0;
    padding: 20px;
    border-top:10px solid #ccc;
    border-bottom:5px solid #ccc;
}
#social .stackleft {
    float:left;
    margin:0 20px 20px 0;
}
#social .pinterest {
    margin-left: 10px;
    width:400px;
}
.socialbar {
    margin-left: 10px;
}
.clear {
    clear:both;
}
.minh {
	height:1px;
	overflow:hidden;
	margin:0;
	padding:0;
}
#news ol {
	list-style:none;
	padding:0;
	margin:0;
	font-size:1em;
}
#news ol li {
	border-bottom: 10px solid #ccc;
	margin:0 0 20px 0;
	padding:0 0 20px 0;
}
#news ol li em {
	font-size:0.7em;
}
pre {
	font-family: 'Open Sans', sans-serif;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}
