{{ define "home" }}
{{ template "header" .}}
<div id="social">
	<div class="googleplus stackleft">
		<div class="g-person" data-width="276" data-href="//plus.google.com/u/0/107944265693663926323" data-rel="author"></div>
	</div>

	<div class="github stackleft">
		<div id="github-widget" data-username="pemcconnell"></div>
	</div>

	<div class="linkedin stackleft">
		<script type="IN/MemberProfile" data-id="//www.linkedin.com/pub/peter-mcconnell/36/820/953" data-format="inline" data-related="false"></script>
	</div>
	<div class="clear">&nbsp;</div>
</div>
{{ template "footer" .}}
{{ end }}
