{{ define "snippets" }}
{{ template "header" .}}
<div id="snippets">
	<h1>snippets</h1>
	{{ with .FormErrors }}
	<ul class="formResponse errors">
		{{ range . }}
			<li>{{.}}</li>
		{{ end }}
	</ul>
	{{ end }}
	{{ with .FormSuccess }}
	<ul class="formResponse success">
		{{ range . }}
			<li>{{.}}</li>
		{{ end }}
	</ul>
	{{ end }}
	<form method="post" action="">
	<fieldset>
		<legend>add snippet</legend>
		<ul>
		<li>
			<label>filename:</label>
			<input type="text" name="filename" />
		</li>
		<li>
			<label>desc:</label>
			<textarea name="desc" rows="4" cols="36"></textarea>
		</li>
		<li>
			<textarea name="snippet" rows="8" cols="36"></textarea>
		</li>
		<li>
			<label>private:</label>
			<input type="radio" name="where" value="me" checked="checked" />
			<label>public:</label>
			<input type="radio" name="where" value="anon" />
		</li>
		<li>
			<input type="submit" name="sub_btn" />
		</li>
		</ul>
	</fieldset>
	</form>
	<div class="clear">&nbsp;</div>
</div>
{{ template "footer" .}}
{{ end }}
